*, ::before, ::after {
  box-sizing: border-box;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.slider-wrapper {
  width: 100%;
}

.slider-header, .slider-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: cubic-bezier(0.42,0,0.58,1) .6s;
}

.slider-item {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.arrow {
  outline: none;
  cursor: pointer;
  border: solid #a9a9a9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.control-point {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 5px 10px;
  border-radius: 50%;
  background-color: #CBCBCB;

  &:hover {
    background-color: #96B1D8;
  }
}

.active-point {
  background-color: #4B5E81 !important;
}